
@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&family=Outfit:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1;
    
}




.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
        
        .black-screen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            color: white;
            font-size: 19px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-family: "Lexend", sans-serif;
        }
        
        #KanyeWest {
            position: relative;
            top: 0;
            left: 0;
            width: 100vw; 
            height: 100vh; 
            object-fit: cover; 
            display: none; 
            width: 100%;
            height: auto;
            margin: 0 auto;
            max-width: auto;
        }
        
        .information {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 23px;
            font-family: "Lexend", sans-serif;
            font-optical-sizing: auto;
            z-index: 3;
            display: block; 
            animation: fadeIn 0.5s ease forwards; 
            white-space: pre-line; 
            text-align: center;
            text-shadow: 1px 1px 2px black;
            word-wrap: break-word;
            white-space: pre-wrap;

                position: absolute;
                top: 51%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 1.35em;
                font-family: "Lexend", sans-serif;
                font-optical-sizing: auto;
                z-index: 3;
                display: none; 
                animation: fadeIn 0.5s ease forwards; 
                white-space: pre-line; 
                text-align: center;
                text-shadow: 1px 1px 2px black;
                display: none;
            }


        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

